.caption {
  padding: 15px;
  color: #e5e5e5;
  font-size: 20px;
  line-height: 1.65;
  font-weight: 400;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caption p {
  margin: 0 0 1rem;
}

.caption p:last-child {
  margin-bottom: 0;
}

.heading {
  font-size: 1.1em;
  font-weight: 700;
  margin: 1.25rem 0 0.5rem;
  color: #fff;
}

.item {
  margin: 0.25rem 0 0;
  padding-left: 0;
}

.item:first-of-type {
  margin-top: 0;
}
